# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Database
postgres_data/

# Uploads (User generated content)
static/uploads/

# Data dumps
production_data.json

# Build scripts
build_and_push.sh
build_and_push.bat
